$black: #000;
$white: #fff;

$hxgn-primary-blue: #335ca5;
$hxgn-row-blue: #bed6ee;
$hxgn-highlight-blue: #62b4ff;
$hxgn-border-blue: #528cc6;

$hxgn-primary-disabled-background: #a8c3df;
$hxgn-primary-disabled-color: #dde3e8;

$hxgn-secondary-background: #f7f7f7;
$hxgn-secondary-border: #afafaf;
$hxgn-secondary-color: #333333;
$hxgn-secondary-hover-disabled: #eceeee;
$hxgn-secondary-disabled-color: #c0c0c0;

$hxgn-selected-background: #cadff2;

$hxgn-confirmation-green: #118435;
$hxgn-secondary-green: #70b270;

$hxgn-accent-orange: #f7a02e;
$hxgn-unsaved-orange: #ffe3b6;

$hxgn-contrast-purple: #9374bd;
$hxgn-selected-purple: #a3628f;

$hxgn-highlight-yellow: #fdfa62;

$hxgn-disabled-grey: rgba(0,0,0,.38);
$hxgn-tab-grey: #eceeee;
$hxgn-icon-grey: #666;
$hxgn-line-grey: #adafb2;
$hxgn-arrows-grey: #333;
$hxgn-menu-grey: #3f3f3f;
$hxgn-header-grey: #242425;
$hxgn-widget-grey: #f2f2f2;
$hxgn-control-grey: #e5e5e5;
$hxgn-selected-grey: #808080;
$hxgn-placeholder-grey: #c6c8c9;

