.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 350px;
    margin: 50px auto;
}

.btn-pane {
    margin: auto;
    display: grid;
    justify-content: center;
}

.switcher {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 10px;
}

.list {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.card {
    margin-bottom: 50px;
}

button {
    min-width: 100px;
}