<template>
    <require from="../vm-dialog/vm-dialog.component.scss"></require>
    <require from="./vm-popup.component.scss"></require>

    <div class="vm-dialog vm-popup" ref="popupContainer">
        <div class="vm-dialog-header">
            <span class="vm-dialog-title">${viewModel.Model.Title}</span>
            <vm-button icon click.call="close()">
                <i class="fa fa-times"></i>
            </vm-button>
        </div>
        <div class="vm-dialog-body vm-popup-body">
            <compose view-model="${viewModel.View}" model.bind="viewModel.Model">
        </div>
        <div class="vm-dialog-footer">
            <vm-button click.call="close()">Cancel</vm-button>
            <vm-button primary click.call="save()">
                Save
            </vm-button>
        </div>
    </div>
</template>
