<div class="header">
    <span style="font-weight: bold;">Capability Name: </span> commonnotifications
    <span style="font-weight: bold;">Capability Id: </span> @hxgn/commonnotifications
    <!-- <div class="tab-pane">
        <hxgn-commonnotifications-btn-v1></hxgn-commonnotifications-btn-v1>
    </div> -->
</div>
<div class="content">
    <!-- <div *ngIf="(customOverlays$ | async) as  customOverlays" class="overlay-pane">
        <div *ngFor="let overlayId of customOverlays" class="overlay" [attr.id]="overlayId"></div>
    </div> -->

    <div id="portal"></div>
</div>