<template>
    <div class="vm-input-demo">
        <div class="form-group">
            <label for="regular">Input</label>
            <input id="regular" class="vm-input" type="text" />
        </div>

        <div class="form-group">
            <label for="regular">Input - Disabled</label>
            <input id="regular" class="vm-input" type="text" disabled />
        </div>

        <div class="form-group">
            <label for="textarea">Textarea</label>
            <textarea id="textarea" class="vm-input" rows="5"></textarea>
        </div>

        <div class="form-group">
            <label for="textarea">Textarea - Disabled</label>
            <textarea id="textarea" class="vm-input" rows="5" disabled></textarea>
        </div>

        <div class="form-group">
            <label for="textarea">Textarea - No Resize</label>
            <textarea id="textarea" class="vm-input no-resize" rows="5"></textarea>
        </div>
    </div>
</template>
