/** Colors **/
$black: #000;
$gray-blue: #343d46;
$green-blue: #22a887;
$teal: #02a4b0;
$white: #fff;

$lighter-gray: #eee;
$light-gray: #ccc;
$gray: #777;
$dark-gray: #555;
$darker-gray: #333;

/* Neutrals */
$N10: #fafbfc;
$N20: #eff2f7;
$N30: #ebecf0;
$N40: #c1c7d0;
$N50: #a6b0bc;

$DN10: #737f92;
$DN20: #5c6a80;
$DN30: #45556e;
$DN40: #2e405c;
$DN50: #162d50;

/* Platform */
$brand-primary: #20a281;
$brand-primary-bg: #e4f4f0;
$brand-primary-hover: #18856b;

$brand-secondary: #25aae2;
$brand-secondary-bg: #e5f5fc;

$purple: #6666d2;
$purple-bg: #ededfa;

$navy: #172b4a;

/** Ratings */
$low: #4caf50;
$low-bg: #e9f3ec;
$low-moderate: #9bd06c;
$low-moderate-bg: #f1f7ef;
$medium: #feb836;
$medium-bg: #faf4e9;
$high: #ec7043;
$high-bg: #f9eeec;
$severe: #d61100;
$severe-bg: #f9e9ea;
$na: #c4cdd8;

/* Statuses */
$success: #4caf50;
$success-bg: #d4edda;
$success-border: #d2e6ce;
$success-hover: #449d48;
$success-text: #105242;

$warning: #feb836;
$warning-bg: #fff3cd;
$warning-border: #e2d7c3;
$warning-text: #533f03;

$caution: #ed7d54;

$danger: #d61100;
$danger-bg: #fde1e0;
$danger-border: #f0d5d3;
$danger-hover: #c00f00;
$danger-text: #721c24;

$info: #25aae2;
$info-bg: #dcecfc;
$info-border: #cbe4fb;

/* Other */
$border-color: #e7eaec;
