@use "variables" as v;

$vm-input-border: 1px solid v.$N40;
$vm-input-border-radius: 3px;
$vm-input-font-size: 16px;
$vm-input-height: 40px;

@mixin vm-input {
    width: 100%;
    border: $vm-input-border;
    outline: none;

    &:disabled {
        background-color: v.$N10;
        cursor: not-allowed;
    }

    &:focus {
        border-color: v.$brand-primary;
    }
}

input.vm-input {
    @include vm-input();
    height: $vm-input-height;
    border-radius: $vm-input-border-radius;
    font-size: $vm-input-font-size;
    line-height: 19px;
    padding: 10px 13px;

    &::placeholder {
        color: v.$N50;
    }
}

textarea.vm-input {
    @include vm-input();
    min-height: $vm-input-height;
    max-width: 100%;
    min-width: 100%;
    border-radius: 4px;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    line-height: 17px;
    padding: 8px;

    &::placeholder {
        color: #999;
    }

    &.no-resize {
        resize: none;
    }
}

.vm-input--no-arrows::-webkit-outer-spin-button,
.vm-input--no-arrows::-webkit-inner-spin-button {
    appearance: none;
}

.vm-input-group {
    display: flex;

    .vm-input {
        border-radius: 0 $vm-input-border-radius $vm-input-border-radius 0;
    }

    .vm-input-group-addon {
        display: flex;
        align-items: center;
        border: $vm-input-border;
        border-right: none;
        border-radius: $vm-input-border-radius 0 0 $vm-input-border-radius;
        font-size: $vm-input-font-size;
        padding: 0 13px;
    }

    &:focus-within {
        .vm-input-group-addon {
            border-color: v.$brand-primary;
        }
    }
}

.has-error > .vm-input,
.has-error > .vm-input-group .vm-input,
.has-error > .vm-input-group .vm-input-group-addon {
    border-color: v.$danger;
}
