<template>
    <require from="./dc-admin-navigation.scss"></require>

    <ul class="nav headerMenu dc-admin">
        <li class="visible-xs">
            <hr>
        </li>

        <li repeat.for="nav of favoritedNavigationButtons">
            <a href="${nav.navigationPath}"><span>${nav.label}</span></a>
        </li>

        <li class="nav-item-divider" if.bind="favoritedNavigationButtons.length>0"></li>

        <li repeat.for="nav of mainNavigationButtons">
            <a href="${nav.navigationPath}"><span>${nav.label}</span></a>
        </li>
    </ul>
</template>