:host {
  line-height: 1;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif !important;
  font-size: 14px;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: calc(100vw - 10px);
  height: 30px;
  background-color: #444;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;

  span {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.content {
  padding: 5px;
  width: calc(100vw - 10px);
  height: calc(100vh - 50px);
  position: absolute;
  top: 40px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .editor {
    display: flex;
    width: 800px;
    height: 500px;
    overflow-y: auto;
  }
}

fieldset {
  margin-bottom: 20px;
}

// Example how to do ff style flagging
.msg-text {
  color: #666;

  &.ff-red-text {
    color: red;
  }
}
