registry=https://registry.npmjs.com/
@galileo:registry=https://hexagon-si-gpc.pkgs.visualstudio.com/_packaging/Galileo/npm/registry/
@videostreamer:registry=https://hexagon-si-gpc.pkgs.visualstudio.com/_packaging/VideoStreamer/npm/registry/
@luciad:registry=https://hexagon-si-gpc.pkgs.visualstudio.com/_packaging/Galileo/npm/registry/
always-auth=true
