<#@ include file="..\..\..\..\..\CreateTypeScript.ttinclude" #>
<#@ template debug="true" hostSpecific="true" language="C#" #>
<#@ output extension="ts" #>

<#= GetClass<ControlAssessments.Business.Models.DTO.Themes.TemplateTheme>(generateCreateFunction:true) #>
