$header-height: 87px;
$border-color: #ddd;
$panel-content-bg: lighten(#f4f5f7, 2%);
$whiteColor: #fff;
$header-text: #20a281 !default;
$close: #777;

.vm-slidable-panel-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.vm-slidable-panel-wrapper {
  background-color: $whiteColor;
  position: fixed;
  top: $header-height;
  height: calc(100vh - $header-height);
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);

  &.open {
    transform: translateX(0%);
  }

  .panel-header {
    border-bottom: 1px solid $border-color;
    display: flex;
    font-size: 14px;
    padding: 15px;

    > div:first-child {
      .panel-title {
        font-size: 1.1em;
        font-weight: 600;
        color: $header-text;
      }

      .panel-sub-title-container {
        display: flex;
        column-gap: 3px;

        div:first-child {
          font-weight: 600;
        }
      }
    }

    > div:last-child {
      color: $close;
      cursor: pointer;
      margin-left: auto;
      font-weight: 600;
      font-size: 1.2em;
      -webkit-transition: color 150ms linear;
      -ms-transition: color 150ms linear;
      transition: color 150ms linear;

      &:hover {
        color: darken($close, 30%);
      }

      &:active {
        color: darken($close, 50%);
      }
    }
  }

  .panel-content {
    background-color: $panel-content-bg;
    overflow: hidden;
    overflow-y: auto;

    &.panel-content-height-110 {
      height: calc(100% - 110px);
    }

    &.panel-content-height-130 {
      height: calc(100% - 130px);
    }

    &.panel-content-height-150 {
      height: calc(100% - 150px);
    }
    //-- Add additional classes if needed...
  }

  .panel-content::-webkit-scrollbar {
    height: 0.75em;
    width: 0.75em;
  }

  .panel-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .panel-content::-webkit-scrollbar-thumb {
    background-color: #bcc1cb;
    border-radius: 8px;
  }

  .panel-footer {
    display: flex;
    background-color: $whiteColor;
    border-top: 1px solid $border-color;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;

    > div {
      margin-left: auto;

      button {
        margin-left: 10px;
      }
    }
  }
}
