<div class="header" style="background-color: #242425; ">
    <span style="font-size: 23px;margin-top:-4px;">Common Tenant Frontend Testbed </span>
</div>
<div class="content">
    <div class="admin-portal" id="admin-portal"></div>

    <!-- <hxgn-commontenant-organization-select-v2 [(selectedTenants)]="ids"></hxgn-commontenant-organization-select-v2> -->
    <!-- <hxgn-commontenant-capability-configuration-admin></hxgn-commontenant-capability-configuration-admin> -->
    <!-- <hxgn-commontenant-name [tenantId]="'c1878bbb-8173-410a-9a77-d6f4aa23678a'"></hxgn-commontenant-name> -->
    <!-- <hxgn-commontenant-selection [tenantIds]="ids" [readOnly]="true"></hxgn-commontenant-selection> -->
    <!-- <hxgn-commontenant-onboarding></hxgn-commontenant-onboarding> -->
    <!-- <hxgn-commontenant-redacted-bar [translationTokens]="['commonTenant-main.component.notAvailable', 'commonTenant-main.component.notAvailable']"></hxgn-commontenant-redacted-bar> -->
    <!-- <hxgn-commontenant-organization-list-v1 [organizations]="ids"></hxgn-commontenant-organization-list-v1> -->
</div>