.column-config-item {
    border: 1px solid #C1C7D0;
    border-radius: 3px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .item-title {
        flex-grow: 1;
    }

    i {
        margin-top: 2px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
