@import "shared-from-dcdev/core-styles/stylesheets/_variables.scss";

overall-rating {
  display: grid;
  grid-template-rows: min-content auto min-content;
  border: solid 1px #e7eaec;
  border-radius: 10px;
  background-color: #fff;

  .rating-header-pane,
  .rating-section-pane,
  .overall-rating-pane {
    padding: 20px;
  }

  .rating-header-pane {
    font-size: 18px;
    font-weight: 800;
    border-bottom: solid 1px #e7eaec;
  }

  .rating-section-pane {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;

    .left-pane {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .rating-type,
      .rating-explanation {
        display: grid;
        grid-template-rows: min-content auto;
        row-gap: 10px;
      }

      .required-input-label {
        display: flex;
        column-gap: 5px;

        .required-star {
          color: red;
          font-weight: 600;
        }
      }
    }

    .right-pane {
      display: grid;
      grid-template-rows: min-content auto;
      row-gap: 10px;

      .rating-list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .section-rating {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 10px;
          align-items: center;

          .rating-card {
            height: 40px;
            width: 150px;
            display: flex;
            align-items: center;
            border: solid 1px #c1c7d0;
            border-radius: 3px;
            padding: 0 20px;
            font-size: 16px;
          }
        }
      }
    }

    .input-title {
      font-weight: 700;
    }
  }

  .overall-rating-pane {
    display: grid;
    grid-template-columns: auto 175px;
    column-gap: 20px;
    align-items: center;
    background-color: #172b4a;
    border-radius: 0 0 10px 10px;

    .rating-header {
      white-space: nowrap;
      color: #fff;
    }

    .dropdown-pane {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: flex-end;
    }
  }

  .rating-header {
    font-size: 18px;
    font-weight: 800;
  }

  // TODO: consider moving this to a shared styling file
  .icon-green {
    color: green;
  }

  .icon-yellow {
    color: yellow;
  }

  .icon-orange {
    color: orange;
  }

  .icon-red {
    color: red;
  }

  .icon-gray {
    color: gray;
  }

  .danger {
    color: $brand-danger;
  }
}
