<div class="header">
    <span style="font-weight: bold;">Capability Name: </span> commonkeywords
    <span style="font-weight: bold;">Module Reference: </span> @hxgn/commonkeywords
</div>
<div class="content">
    <!-- <hxgn-commonkeywords-composite-icon-v2
        [size]="50"
        [capabilityId]="'@hxgn/incidents'"
        [tenantId]="'1b16ab3e-b8f6-4fe3-9f3e-2db7fe549f6a'"
        [industryId]="'18AD75D0-D7A0-4D18-AD0A-9379F6B8ECEF'"
        [keywords]="keywords"
        [searchKeywords]="keywords"
        [editable]="true"
        [title]="'Incident Icon'"
        [subtitle]="'Incident Icon Options based on incident’s name and keywords.'"
        (keywordsChange)="updateKeywords($event)">
    </hxgn-commonkeywords-composite-icon-v2> -->

    <hxgn-commonkeywords-composite-icon-v2
        [size]="50"
        [capabilityId]="'@hxgn/incidents'"
        [tenantId]="'1b16ab3e-b8f6-4fe3-9f3e-2db7fe549f6a'"
        [industryId]="'18AD75D0-D7A0-4D18-AD0A-9379F6B8ECEF'"
        [keywords]="['ship']">
    </hxgn-commonkeywords-composite-icon-v2>

    <!-- Shell for onboarding dev work -->
    <!-- <div style="display: flex">
        <div style="border: 1px solid #a0a0a0;">Step Pane</div>
        <div id="portal-outlet" style="border: 1px solid #a0a0a0;overflow: hidden;display: flex;"></div>
    </div> -->

    <!-- <div id="admin-portal"></div> -->

    <!-- <hxgn-commonkeywords-composite-icon-v1
        [capabilityId]="'@hxgn/incidents'"
        [industryId]="'662F9975-F896-4A09-BAFB-1792043865C3'"
        [keywords]="['fire hazard']"
        size="200">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1
        [capabilityId]="'@hxgn/incidents'"
        [industryId]="'662F9975-F896-4A09-BAFB-1792043865C3'"
        [keywords]="['dumpster fire']"
        size="200">
    </hxgn-commonkeywords-composite-icon-v1> -->
    <!-- <hxgn-commonkeywords-composite-icon-v1
        [capabilityId]="'@hxgn/units'"
        [industryId]="'C18F7F0B-0F25-4319-96BB-D2372578697A'"
        [keywords]="['fire']"
        size="200">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1
        [capabilityId]="'@hxgn/video'"
        [industryId]="'C18F7F0B-0F25-4319-96BB-D2372578697A'"
        [keywords]="['fire']"
        size="200">
    </hxgn-commonkeywords-composite-icon-v1> -->
    <!-- <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="330">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="300">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="270">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="250">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="210">
    </hxgn-commonkeywords-composite-icon-v1>
    <hxgn-commonkeywords-composite-icon-v1 *ngFor="let icon of icons"
        [icon]="icon"
        size="180">
    </hxgn-commonkeywords-composite-icon-v1> -->
</div>
