<app-bar style="position: absolute; top:0; left:0;">
</app-bar>

<div class="pane">
    <div class="not-found-img"></div>
    <div class="msg-pane">
        <span >
            <hxgn-commonlocalization-translate-v1 [token]="tokens.hxgnConnect" skeletonWidth="250px">
            </hxgn-commonlocalization-translate-v1>
        </span>
        <span>
            <hxgn-commonlocalization-translate-v1 [token]="tokens.pendingSetup" skeletonWidth="250px">
            </hxgn-commonlocalization-translate-v1>
        </span>
    </div>
</div>