<div class="header">
    <span style="font-weight: bold;">Capability Name: </span> shapes
    <span style="font-weight: bold;">Capability Id: </span> @hxgn/shapes
    <hxgn-commonnotifications-btn-v1></hxgn-commonnotifications-btn-v1>

    <button (click)="useAsFilter()">Filter</button>
  </div>
<div class="content">
    <!-- Add you components here -->
    <!-- <div style="width: 428px;height: 700px;" id="asset-list"></div>
    <div style="width: 600px;height: 600px;background-color: #ccc;" id="map">Loading...</div>
    <div style="width: 600px;height: 600px;background-color: #ccc;" id="map-b">Loading...</div> -->

    <!-- <div class="admin-portal" id="admin-shape-manager"></div> -->

    <div style="height: 100%; display: flex; column-gap: 20px;">
      <div style="width: 428px;" id="shape-list">Loading...</div>
      <!-- <div style="width: 600px;background-color: #ccc;" id="map">Loading...</div> -->
      <!-- <div style="width: 600px;background-color: #ccc;" id="maptest">Loading...</div> -->
    </div>

    <!-- <div style="width: 428px;height: 400px;" id="shape-list-settings">Loading...</div> -->

    <!-- <div id="data-sharing">Loading...</div> -->

    <!-- <div style="width: 20px;height: 20px;border: 1px solid red;" id="icon-test"></div> -->

    <!-- <div *ngIf="(customOverlays$ | async) as customOverlays" class="overlay-pane">
      <div *ngFor="let overlay of customOverlays" class="overlay"
            [attr.id]="overlay.id" [style.z-index]="overlay.zIndex"></div>
    </div> -->
  </div>
