<template>
    <div class="form-group">
        <label>Search</label>
        <vm-search search.call="log($event)"></vm-search>
    </div>

    <div class="form-group">
        <label>Search on Keypress</label>
        <vm-search search-on-keypress.one-time="true" search.call="log($event)"></vm-search>
    </div>

    <div class="form-group">
        <label>Disabled Search</label>
        <vm-search is-disabled.one-time="true" search.call="log($event)"></vm-search>
    </div>

    <div class="form-group">
        <label>Search w/ Autocomplete</label>
        <vm-search autocomplete-items.to-view="autocompleteItems" search.call="log($event)"></vm-search>
    </div>

    <div class="form-group">
        <label>"vm-autocomplete"</label>
        <vm-search
            autocomplete-items.to-view="autocompleteItems"
            placeholder-text=""
            show-icon.one-time="false"
            search.call="log($event)"
        ></vm-search>
    </div>
</template>
