/** @format */

.app {
  text-align: center;
  background: var(--bg);
  background-image: radial-gradient(#ddd 1px, transparent 0),
    radial-gradient(#ddd 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
}

.title {
  font-size: 4em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.heading {
  margin: 3em;
}

.control {
  margin: 1em;
}

.btn-sm,
.btn-group-sm {
  margin-right: 10px;
}

.values {
  margin: 0.5em auto;
  width: 200px;
}
