<#@ include file="..\..\..\..\..\CreateTypeScript.ttinclude" #>
<#@ template debug="true" hostSpecific="true" language="C#" #>
<#@ output extension="ts" #>

import { AnswerOption } from "shared/models/answer-option";

<#= GetClass<ControlAssessments.Business.Models.DTO.Controls.Requests.ControlRequest>(generateCreateFunction:true) #>
