main
  max-width: 450px
  margin: 0 auto
  padding: 10px 30px
  border-radius: 5px
  color: #1f1f1f
  text-align: center

  .title
    font-size: 4em
    font-weight: bold
    margin-bottom: 50px
    margin-top: 30px
    text-align: center

  .content 
    text-align: left
  
  .heading
    font-weight: bold
  
  .footer
    text-align: center
  
  p
    font-height: 1.2em
  
  .code-wrap
    background: #fafafa
    padding: 0.5rem
    text-align: center
    border-radius: 5px
    margin-bottom: 15px

  code
    color: black
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
    a
      color: grey
